* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.container {
  margin: auto;
  text-align: center;
  display: flex;
  height: 70vw;
  max-width: 1200px;
  gap: 10px;
  padding: 30px 10px;
}

#item-1 {
  border-radius: 2%;
  background-color: steelblue;
  order: 2;
}

#item-2 {
  border-radius: 2%;
  background-color: #fe7e02;
  order: 1;
}

#item-3 {
  border-radius: 2%;
  background-color: #45525b;
  order: 3;
}

@media screen and (min-width: 1200px) {
  main {
    height: 90vh;
  }

  #item-1 {
    width: 80%;
  }

  #item-2 {
    width: 10%;
  }

  #item-3 {
    width: 10%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 100vw;
    max-width: 1200px;
    margin: auto;
  }

  #item-1 {
    grid-column: 1/5;
    grid-row: 1/5;
    order: 1;
  }

  #item-2 {
    grid-column: 1/6;
    grid-row: 5/6;
    order: 3;
  }

  #item-3 {
    grid-column: 5/6;
    grid-row: 1/5;
    order: 2;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    justify-content: start;
    max-width: 810px;
    margin: 10px;
  }

  #item-1 {
    height: 90vw;
    order: 1;

    width: 100%;
  }

  #item-2 {
    height: 15vw;
    order: 2;

    width: 49%;
  }

  #item-3 {
    height: 15vw;
    order: 3;

    width: 49%;
  }
}